<div class="fixed left-4 top-12 m-10 z-50 bg-gray-900 rounded-lg shadow-lg">
  <iframe
    src="https://discord.com/widget?id=1153136441245843488&theme=dark"
    width="350"
    height="500"
    allowtransparency="true"
    frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
  ></iframe>
</div>
